{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Exame - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Exame</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.name.id_for_label }}">Nome</label>
                   {{ form.name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Descrição</label>
                    {{ form.description|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.is_active.id_for_label }}">Ativar</label>
                    {{ form.is_active }}
                </div>
                <div class="form-group">
                    <label for="{{ form.specialty.id_for_label }}">Especialidade</label>
                    {{ form.specialty|add_class:"form-control" }}
                </div>                
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-primary" href="{% url 'exams:list_exams' %}">Cancelar</a>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}